.App {
	/* height: 100vh; */
	text-align: center;
	background-image: linear-gradient(0deg, #3BD177 0%, #000000 50%, #000000 50%);
	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
  }
  
  .App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }